<!DOCTYPE html>
<html>
  <head>
    <title>
    <%= full_title(yield(:title))%>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%
=begin%>
 <div class="alert alert-<%= message_type %>"><%= message %></div> 
<%
=end%>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <%
=begin%>
二つとも同じ。erbとhtmlが混ざってしまうときに使う。
<%
=end%>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
